
#chart-survey .apexcharts-canvas {
    width: 100% !important;
}
#chart-survey .apexcharts-canvas .apexcharts-svg{
    width: 100% !important;
}
#chart-survey .apexcharts-canvas .apexcharts-svg foreignObject{
    width: 100% !important;
}

#chart-survey .apexcharts-canvas   .apexcharts-legend  {
    top:0  !important
}

#chart-survey .apexcharts-canvas   .apexcharts-legend .apexcharts-legend-series{
    height: 15px;
}

