#watermark {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 0.2;
    z-index: 1;
    color: rgba(48, 5, 255, 0.42);
    font-size: 45px;
    transform: rotate(25deg);   
    line-height: 300px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  